dj-database-url==0.5.0
Django==3.0.8
django-cors-headers==3.4.0
django-filter==2.3.0
django-rest-knox==4.1.0
djangorestframework==3.11.0
djangorestframework-simplejwt
drf-yasg==1.17.1
psycopg2-binary==2.8.5
PyJWT==1.7.1
python-dotenv==0.14.0
reportlab==3.5.59
requests==2.24.0
django-rest-swagger==2.2.0
