.trip {
    margin-top: 20px;
}
h3{
  color: #1A73E8;
}
h6 {
  color: #79589F;
}

.table {
    margin-top: 20px;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.trip__select {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border:1px solid lightgray;
  padding: 10px;
}
.trip__selectTitle {
  flex: 0.8;
}

.trip__details {
    width: 100%;
    display: flex;
}

.trip__detailsLoading {
    padding-right: 10px;
    flex: 1;
}

.trip__detailsMore {
  padding-right: 10px;
    flex: 1;
}

.trip__detailsOffloading {
    flex: 1;
}

.trip__shares {
    flex: 1;
}

.trip__detailsTitle {
  text-align: center;
}
