@import '~antd/dist/antd.css';
 
 * {
   margin: 0;
 }

.container {
  margin-top: 20px;
  display: block;
}

h3{
  color: #1A73E8;
}
h6 {
  color: #79589F;
}

.table tr {
    display: flex;
    justify-content: space-between;
}

.table td, th {
    padding: 0.5rem;
}

.table tr:nth-of-type(odd) {
    background-color: #f3f2f8;
}

.trip__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:1px solid lightgray;
  padding: 10px;
}
.trip__selectTitle {
  flex: 0.8;
}

.trip__details {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.trip__detailsLoading {
  margin: 5px;
  flex: 1;
  border: 1px solid lightblue;
}

.trip__detailsOffloading {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__detailsMore {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__shares {
  border: 1px solid lightblue;
  margin: 5px;
  flex: 1;
}

.trip__detailsTitle {
  text-align: center;
}


@media (max-width:900px) {
  .trip__details {
    flex-direction: column;
  }
}