.load-container {
  margin: auto;
}

input{
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}
textarea{
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}

select {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 4px;
}
